<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476849697961-lf0o6jmvqfg0jpuqup1nj9gbh6vs4un2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476849697961-lf0o6jmvqfg0jpuqup1nj9gbh6vs4un2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>476849697961-1gavkjus6t8b5gvmm3id56ikiaespjg0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0niRJ-IwJYZMVt5cqNl1WRbdsXCbejrw</string>
	<key>GCM_SENDER_ID</key>
	<string>476849697961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sindano.sindanoshow</string>
	<key>PROJECT_ID</key>
	<string>myallapp-f9c13</string>
	<key>STORAGE_BUCKET</key>
	<string>myallapp-f9c13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476849697961:ios:b45456280fc812a84f65b8</string>
	<key>DATABASE_URL</key>
	<string>https://myallapp-f9c13.firebaseio.com</string>
</dict>
</plist>